#services{
    padding: 8rem 0 3rem;
    background: url('../../assests/banner/banner.png') no-repeat center center;
    background-size: cover;
    position: relative;
    & :before{
       content: ' ';
       position: absolute;
       top:0;
       right: 0;
       z-index: 1;
       background:var(--dark-layer-color);
       pointer-events: none;
    }
    @media (max-width:992px) {
        padding:  3rem  0;
    }
    .title_headling{
        text-align: center;
        max-width: 50rem;
        margin: auto;
        position: relative;
        z-index: 2;
        & h3{
            width: 90%;
            font-size: 2.5rem;
            line-height: 3.214rem;
            font-weight: 700;
            color: var(--white-color);
            margin-bottom: 0;   
            @media (max-width:76px) {
                flex-direction: column;
            }
            & p{
                width: 90%;
                font-size: 1.214rem;
                line-height: 2rem;
                color: white;
                @media (max-width:767px) {
                        width: 100%;
                }
            }
        }
        
        }
        .number{
                    color: var(--border-color-light);
                    font-size: xx-large;
        }
        & h5{
            font-weight: 900;
            color: var(--white-color);
        }
        & p{
            color: aliceblue;
        }
        & a{
            color: aliceblue;
        }
             .service_wrapper{
               display: flex;
               justify-content: space-between;
               align-items: center;
               margin-top: 5rem;
               flex-wrap: wrap;
               
               }
                   .service_box{
                  width: 400px;
                  height: 400px;
                  padding: 2.81571rem 2.1429rem;
                  border-radius: 1.4286rem;
                  background: var(--bg-dark-color);
                  box-sizing: border-box;
                  margin-bottom: 3rem;
                  position: relative;
                  z-index: 3;
                  border: solid 0.5px aqua;
    }
    .service_icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
